// Text color
$pmr-text-cl: #555964;
$gray-4: #b2b2b8;
$gray-6: #929cad;
$white-text-cl: #fff;
// flex
$flex: false;
$justify: center;
$align: center;
// responsive
$max-mobie: 767.98px;
$max-tablet: 1023.98px;
// cover images
$cover: true;
$width: 40px;
$height: 40px;
// Fonts
$pmr-font: "Satoshi", sans-serif;
$sub-font: "Inter", sans-serif;
$fsize: 2rem;
$fweight : 500;
$line-h : 22px;
// btn
$btn-pd-top-bot : 10px;
$btn-pd-left-right : 10px;
$bgcl : #5827E4;
$bd-radius : 8px;
$color : #fff;
