@import "./reset";
@import "./variable";
@import "./element";
@import "./mixin";

.hide-pc {
    display: none;
}
.upload {
    @include flex($justify: flex-start, $align: flex-start);
    background-color: #000;
}
.upload__sideBar {
    background-color: inherit;
    padding: 30px;
    position: sticky;
    top: -15px;
    left: 0;
}
.upload__sideBar-top {
    @include flex($justify: flex-start);
    column-gap: 11px;
    padding-right: 31px;
}
.upload__logo-wrap {
    @include image-wrap();
}
.upload__logo-img {
    @include imgage();
}
.upload__logoName {
    @include txt($sub-font, 2rem, 600, normal, #fff);
}
.upload__logoName--small {
    color: #484848;
    font-size: 1.4rem;
}
.upload__sideBar-list {
    margin-top: 48px;
}

.upload__sideBar-item {
    padding: 15px 0 15px 16px;
}
.upload__sideBar-link {
    @include flex($justify: flex-start);
    column-gap: 10px;
    color: $gray-4;
}
.upload__sideBar-icon-wrap {
    @include image-wrap(24px, 24px);
}
.upload__sideBar-icon {
    @include imgage();
}
.upload__sideBar-text {
    @include txt($pmr-font, 1.8rem, 500, 24px, inherit);
}
.upload__sideBar-text--active {
    color: $white-text-cl;
}
.upload__sideBar-item--active {
    border-radius: 15px;
    background: #26282e;
}
.upload__content {
    width: 100%;
}
.upload__header {
    background-color: #fff;
    padding: 15px 0;
    position: sticky;
    top: 0px;
    left: 0;
    z-index: 5;
}
.upload__header .container {
    @include flex($justify: space-between);
    #upload__file {
        display: none;
    }
}
.upload__file-btn {
    @include btn(9px, 28.6px, #5827e4, 8px);
    @include txt($pmr-font, 1.6rem, 500, 22px);
}
.upload__header-right {
    @include flex(flex-start);
    column-gap: 16px;
}
.upload__noti-wrap {
    @include image-wrap(36px, 36px);
}
.upload__avt-wrap {
    @include image-wrap(36px, 36px);
    border-radius: 50%;
    .upload__avt-img {
        border-radius: inherit;
    }
}
.upload__avt-img,
.upload__noti-img {
    @include imgage(true);
}
// main
.upload__main {
    padding-top: 40px;
    background-color: #f5f7fb;
    
}
.upload__list {
    @include flex(flex-start, center);
    column-gap: 91px;
}
.upload__item {
    position: relative;
    padding-bottom: 23px;
    cursor: pointer;
}
.upload__title {
    @include txt($pmr-font, 2rem, 500, 28px, $gray-6);
}
.upload__title--active {
    color: #101010;
}

.upload__item::after {
    position: absolute;
    content: "";
    display: block;
    width: calc(100% - 19px);
    height: 2px;
    background-color: $bgcl;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s linear;
}
.upload__item:hover::after {
    opacity: 1;
    visibility: visible;
}
// list
.upload__table {
    display: block;
    width: 100%;
    // height: 100vh;
    // overflow-y: scroll;
    margin-top: 39px;
    background-color: #fff;
    border-radius: 14px;
    padding: 10px 10px 0 10px;
}
[id*="upload__checkBox"] {
    display: none;
}

.upload__label {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    background: #fff;
    transition: 0.3s linear;
    cursor: pointer;
}
.upload__label::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 4px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 16px;
    height: 8px;
    z-index: 0;
    transform: rotate(-45deg);
}

[id*="upload__checkBox"]:checked + .upload__label {
    background-color: $bgcl;
}
thead tr {
    background-color: #f3f5f7;
}
thead tr th {
    @include txt($pmr-font, 1.6rem, 500, 22px, $gray-6);
    padding: 10px;
    text-align: left;
    position: sticky;
    top: 66px;
    left: 0;
    z-index: 1;
    background-color: inherit;
}
thead tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-left: 20px;
}
thead tr th:last-child {
    padding: 10px 74px 10px 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
tbody tr td {
    padding-top: 20px;
}
tbody tr td:first-child {
    padding-left: 26px;
}
tbody tr td:nth-child(2) {
    padding: 20px 12px 0px 15px;
}

tbody tr:last-child td:nth-child(2) {
    padding: 20px 12px 20px 15px;
}
tbody tr td:nth-child(3) {
    padding: 20px 10px 0 22px;
    @include txt($pmr-font, 1.6rem, 500, 22px, $pmr-text-cl);
}
tbody tr td:nth-child(4),
tbody tr td:nth-child(5),
tbody tr td:nth-child(6) {
    padding: 20px 10px 0 17px;
    @include txt($pmr-font, 1.6rem, 500, 22px, $pmr-text-cl);
}
tbody tr td:last-child button:first-child {
    margin: 0 20px 0 6px;
    @include image-wrap(24px, 24px);
}
tbody tr td:last-child button:last-child {
    margin: 0 23px 0 0;
    @include image-wrap(24px, 24px);
}
tbody tr td:last-child img {
    @include imgage(true);
}
.upload__table-img-wrap {
    @include image-wrap(80px, 70px);
    border-radius: 6px;
}
.upload__talbe-img {
    @include imgage(true);
}

@include tablet() {
    .hide-mb {
        display: none;
    }
    .show-mb {
        display: block;
    }
    .upload__table {
        overflow: scroll;
    }
    .upload__header-right {
        column-gap: 12px;
    }
    .upload__table {
        margin-top: 24px;
    }
    .upload__header-left {
        @include flex(unset, center);
        column-gap: 16px;
    }
    .upload__select-custom {
        @include flex(space-between, flex-start);
        overflow: hidden;
        padding: 7px 16px;
        height: 38px;
        border-radius: 30px;
        background: #fff;
    }
    .upload__select {
        display: none;
    }
    .upload__title {
        font-size: 1.6rem;
        line-height: 22px;
    }
    .upload__header {
        padding: 12px 0;
    }
    thead tr th{
        top: 0;
        left: -10px;
    }
}
